<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
     <link rel="stylesheet" type="text/css" href="/css/styles.css">
     <link rel="stylesheet" type="text/css" href="/css/queries.css">
     <link href="https://fonts.googleapis.com/css2?family=Lekton&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
</head>

<body>
    <header>
         <nav>
            <div class="row">
                <img src="/images/vegetarian.png" alt="Logo" class="logo">
                <ul class="main-nav">
                    <li> <a href="/" target="_self"> Home </a></li>
                    <li> <a href="/top_meals" target="_self"> Meal Packages </a></li>
                    {{#if user}}
                        <div class="dropdown">
                            <li> <a href="/" target="_self"> {{user.first}} {{user.last}} <img src="/images/arrow.png" class="arrow"></a></li>
                            <div class="dropdown-content">
                                {{#if user.role}}
                                <a href="/add_meals" target="_self"> Add meal </a>
                                {{else}}
                                <a href="/cart" target="_self"> Your Cart </a>
                                {{/if}}
                                <a href="/logout" target="_self"> log out </a>
                            </div>
                        </div>
                     {{/if}}
                </ul>
            </div>
        </nav>

        <div class="hero">
            <h1> FitVise </h1>
            <h2> Goodbye junk food. <br> Hello super healthy meals </h2>
            <a class="btn btn-hung" href="/sign_in" target="_self"> Create Account</a>
            <a class="btn" href="/registration" target="_self"> Login </a>
        </div>
    </header>             
    <main>
        {{{body}}}
    </main>
    <footer>
        <div id="soc">
            <p>
                <img src="/images/instagram-sketched.png" alt="Logo" width="45" height="45"> 
                <img src="/images/twitter.png" alt="Logo" width="45" height="45">
            </p>
            
        </div>
    </footer>
    <script src="/func.js"></script>
</body>
</html>